!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if IE 8] <html class="no-js lt-ie9" lang="en">
:plain
  <!--[if gt IE 8] -->
%html{:lang => "en"}
  /<![endif]
  %head
    %meta{:charset => "utf-8"}/
    / Set the viewport width to device width for mobile
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= data.page.title || "AntiochCollege.org Documentation"
    / Included CSS Files
    = stylesheet_link_tag "app"
    = javascript_include_tag "foundation/modernizr.foundation"

  %body{:class => page_classes}
    .row
      %h1=link_to "AntiochCollege.org Documentation", "/index.html"
      %hr

      .large-8{:class => "columns", :role=> "content"}
        = yield
      %aside{:class => "large-3 columns large-offset-1"}
        %h2 Categories
        %ul.side-nav
          %li=link_to "Account", "/account", :class => "#{active?('account')}"
          %li
            =link_to "Content", "/content", :class => "#{active?('content')}"
            %ul
              %li=link_to "Course Offering", "/content/course_offering.html", :class => "#{active?('course_offering')}"
              %li=link_to "Electronic Resources", "/content/electronic_resources.html", :class => "#{active?('electronic_resources')}"
          %li=link_to "Navigation (menu)", "/navigation", :class => "#{active?('navigation')}"
          %li=link_to "Further Reading", "/advanced", :class => "#{active?('advanced')}"
          %li=link_to "Faculty Profiles", "/facultyProfiles", :class => "#{active?('facultyProfiles')}"

    / Application Javascript, safe to override
    = javascript_include_tag "app"
